@{
    Layout = "~/Views/Shared/_NoLayoutPage.cshtml";
}

<html>
<head>
    <title>Kidneys_dr_QA</title>
</head>
<body>
    <h2 style="text-align:center;">@ViewBag.Kidney_Tmp_QA_Msg</h2>
</body>
</html>