@font-face {
    font-family: 'Noto Serif CJK TC';
    font-style: normal;
    font-weight: 500;
    src: url(../../../fonts/NotoSerifCJKtc/NotoSerifCJKtc-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif CJK TC';
    font-style: normal;
    font-weight: 600;
    src: url(../../../fonts/NotoSerifCJKtc/NotoSerifCJKtc-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif CJK TC';
    font-style: normal;
    font-weight: 700;
    src: url(../../../fonts/NotoSerifCJKtc/NotoSerifCJKtc-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif CJK TC';
    font-style: normal;
    font-weight: 900;
    src: url(../../../fonts/NotoSerifCJKtc/NotoSerifCJKtc-Black.otf) format('opentype');
}
