@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------------------------*/
/* Header */
#Header {
    border-bottom: 5px solid #df7b39;
}

    #Header .logo {
        width: 180px;
        float: inherit;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #Header .hd_top .tool_box {
        display: none;
    }

/*----------------------------------------------------------------------*/
/* Menu */
#Menu {
    display: none;
}

/*----------------------------------------------------------------------*/
/* Copyright */
#Copyright {
    padding: 20px 0;
}

/*----------------------------------------------------------------------*/
/* 視覺形象區塊 */
.IndexImage {
    padding: 1.5rem 15px 2.5rem 15px;
    background-position: center center;
}

    .IndexImage::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        /*background-color:rgba(242, 225, 203, 0.6);*/
        position: absolute;
        top: 0;
        left: 0;
        background: -moz-linear-gradient(top, rgba(242,226,206,1) 0%, rgba(242,226,206,0.99) 1%, rgba(222,221,221,0) 97%, rgba(221,221,221,0) 100%);
        background: -webkit-linear-gradient(top, rgba(242,226,206,1) 0%,rgba(242,226,206,0.99) 1%,rgba(222,221,221,0) 97%,rgba(221,221,221,0) 100%);
        background: linear-gradient(to bottom, rgba(242,226,206,1) 0%,rgba(242,226,206,0.99) 1%,rgba(222,221,221,0) 97%,rgba(221,221,221,0) 100%);
    }

    .IndexImage .text_box {
        width: 100%;
    }

    .IndexImage .tt1 span {
        padding: 5px 0;
    }

    .IndexImage .cont .img {
        max-width: 140px;
        margin-right: 15px;
    }

    .IndexImage .cont .desc {
        color: #847259;
        font-size: 0.938em;
    }

/*----------------------------------------------------------------------*/
/* IndexCenter */
/*共用區塊*/
#IndexCenter > div {
    padding: 0 15px;
}

.indexTitle {
    margin-bottom: 10px;
}

    .indexTitle span {
        font-size: 1.125em;
        display: inline-block;
        padding: 5px 0;
    }

.IndexBlock .more_btn {
    margin-bottom: 10px;
    padding: 0;
}

/*----------------------------------------------------------------------*/
/* SDM評估表單 */
.IndexSDM {
    margin-bottom: 2rem;
}

.sdmList .item {
    padding-top: 15px;
}

    .sdmList .item > div {
        padding-bottom: 15px;
    }

    .sdmList .item:last-child > div {
        border-bottom: 0;
    }

    .sdmList .item .tags {
        padding-right: 3.5rem;
    }

    .sdmList .item .title a {
        padding-right: 3.5rem;
        font-weight: 400;
    }

    .sdmList .item .tags > span {
        font-size: 0.875em;
    }

    .sdmList .item .goto {
        right: 0;
        top: 50%;
        margin-top: -15px;
    }

/*----------------------------------------------------------------------*/
/* 衛教專區 */
.IndexHealth .indexTitle {
    margin-bottom: 20px;
}

.IndexHealth .category_box .title {
    padding-bottom: 10px;
}

.IndexHealth .category_box > .item {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    padding: 20px 15px;
    margin-bottom: 20px;
}

.IndexHealth .category_box .tags li {
    margin-bottom: 8px;
}

    .IndexHealth .category_box .tags li a {
        padding: 5px 10px;
        font-size: 0.938em;
    }

.IndexHealth .category_box .FormElmt {
    margin-bottom: 15px;
}

.IndexHealth .bodyPart_btn {
    display: none;
}

/*----------------------------------------------------------------------*/
/*相關網站*/
.IndexLinks > div {
    padding: 25px 0;
}

.IndexLinks .list_box {
    padding-top: 15px;
}

@media screen and (max-width: 399px) {
    .IndexLinks .list_box ul li {
        max-width: 135px;
        height: 50px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 400px) and (max-width: 479px) {
    .IndexLinks .list_box ul li {
        max-width: 150px;
        height: 50px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 480px) {
    .IndexLinks .list_box ul li {
        margin-right: 15px;
        margin-bottom: 15px;
        max-width: 150px;
        height: 50px;
    }
}

/*----------------------------------------------------------------------*/
/* 彈出視窗 */
.alert_box > div {
    max-height: 90%;
    margin: 20px;
    padding: 20px;
}

.alert_box .close {
    position: absolute;
    top: 5px;
    right: 5px;
}


/*===================================以下為內頁===================================*/
/*----------------------------------------------------------------------*/
/* 內頁 */
#Center.content > div {
    padding: 10px 10px 20px;
}

#Content {
    padding: 10px 0;
}

/*----------------------------------------------------------------------*/
/* 標題 */
.PageTitle {
    display: block;
}

.page_header .PageTitle {
    float: none;
}

.page_header #Breadcrumbs {
    clear: both;
    display: block;
    float: none;
}

/* 文章標題 */
h3.title {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.375em;
}

    h3.title span {
        line-height: 140%;
    }

/*文章日期*/
.postdate {
    margin-top: 10px;
}

/*文章更新日期*/
.post_info {
    text-align: left;
}

/*----------------------------------------------------------------------*/
/* 內頁元素 */
.ToolBar {
    margin-bottom: 0;
    border-top: 0;
    margin-bottom: 5px;
}

    .ToolBar .colm_left {
        display: none;
    }

    .ToolBar dl.font_size::after {
        display: none;
    }

    .ToolBar dl.font_size {
        margin-bottom: 10px;
    }

    .ToolBar dl.share {
        margin-bottom: 15px;
    }

#Breadcrumbs {
    margin-top: 0;
}

    #Breadcrumbs ul {
        padding: 3px 0 0px 5px;
    }

/* 頁碼 */
#Pagination {
    margin-top: 0;
}

    #Pagination a {
        margin: 0 5px;
        display: none;
    }

        #Pagination a.prev, #Pagination a.next, #Pagination .current {
            display: inline-block;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

    #Pagination .setting {
        display: none;
    }

/* 編輯器 */
.editable_content blockquote {
    padding: 35px 20px;
    margin: 25px 0;
}

    .editable_content blockquote p {
        font-size: 100%;
        line-height: 180%;
    }

.editable_content ol {
    margin-left: 20px;
}

.editable_content ul {
    margin-left: 20px;
}

.editable_content .imgleft, .editable_content .imgright {
    float: none !important;
    clear: both;
    max-width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.editable_content .district .img.left, .editable_content .district .img.right {
    float: none;
    clear: both;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.editable_content h4 {
    font-size: 1.25em;
}

.editable_content h5 {
    font-size: 1.125em;
}

.editable_content h6 {
    font-size: 1.063em;
}

h4.ext_title {
    margin-top: 0;
    font-weight: 400;
}

ul.ext_list {
    padding-left: 20px;
}

/* colorbox */
@media screen and (min-width: 535px) and (max-width: 639px) {
    #colorbox_thum a {
        width: 150px;
        margin: 8px;
    }
}

@media screen and (min-width: 481px) and (max-width: 534px) {
    #colorbox_thum a {
        width: 150px;
        margin: 5px;
    }
}

@media screen and (max-width: 480px) {
    #colorbox_thum a {
        width: 140px;
        margin: 5px;
    }
}

@media screen and (max-width: 360px) {
    #colorbox_thum a {
        width: 135px;
        margin: 5px;
    }

        #colorbox_thum a:nth-child(2n+1) {
            margin-left: 0;
        }

        #colorbox_thum a:nth-child(2n+2) {
            margin-right: 0;
        }
}

/* 文章列表 */
h3.article_title {
    font-size: 175%;
}

/*----------------------------------------------------------------------*/
/* 彈出視窗 */
.alert_box > div {
    max-height: 90%;
    margin: 20px;
    padding: 20px;
}

.alert_box .close {
    position: absolute;
    top: 5px;
    right: 5px;
}

/*----------------------------------------------------------------------*/
/* SDM評估表單+衛教專區:共用列表 */
/* 頁籤 */
.searchFilter {
    margin-bottom: 15px;
}

    .searchFilter .tabStyle .tabs ul li {
        padding: 8px 12px;
    }

        .searchFilter .tabStyle .tabs ul li a {
            font-size: 0.938em;
        }

    .searchFilter .tab_container {
        padding: 15px 10px;
    }

@media screen and (max-width: 480px) {
    .searchFilter .tabStyle .tabs ul li {
        margin-bottom: 10px;
        border: 0;
        margin-right: 10px;
        background-color: #ddd;
        width: 48.5%;
        text-align: center;
        padding: 0;
    }

        .searchFilter .tabStyle .tabs ul li:nth-child(2n+2) {
            margin-right: 0;
        }

        .searchFilter .tabStyle .tabs ul li.active {
            border: 0;
        }

        .searchFilter .tabStyle .tabs ul li a {
            display: block;
            padding: 8px 12px;
        }

        .searchFilter .tabStyle .tabs ul li:hover {
            background-color: #ddd;
        }

    .sdm_search_filter .tabStyle .tabs ul li.active {
        background-color: #eb1760;
    }

        .sdm_search_filter .tabStyle .tabs ul li.active a {
            color: #fff;
        }

    .health_search_filter .tabStyle .tabs ul li.active {
        background-color: #2ba8aa;
    }

        .health_search_filter .tabStyle .tabs ul li.active a {
            color: #fff;
        }
}

/* 篩選關鍵字 */
.searchFilter .SearchBOX {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* tags */
.filter_tags a {
    font-size: 0.875em;
    padding: 5px 10px;
}

/* 部位圖片按鈕 */
.bodyPart_searchBtn {
    display: none;
}

/*----------------------------------------------------------------------*/
/* SDM評估表單 內容元素 */
.inside_tags {
    margin-bottom: 2rem;
}

    .inside_tags span {
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 8px;
        color: #999;
        font-size: 0.875em;
        position: relative;
        padding-left: 9px;
    }

        .inside_tags span::before {
            content: '';
        }

/* 步驟按鈕 */
.TOP_STEPS_BTN {
    margin-bottom: 2rem;
}

    .TOP_STEPS_BTN a {
        font-size: 1em;
        font-weight: 900;
    }

        .TOP_STEPS_BTN a span {
            font-size: 13px;
            font-weight: 400;
        }

    .TOP_STEPS_BTN .step::after {
        border-width: 8px 5px 0 5px;
        bottom: -8px;
    }

    .TOP_STEPS_BTN .unwrite {
        width: 24px;
        height: 24px;
        border-width: 2px;
        padding: 0;
        margin-left: -12px;
        top: -15px;
    }

        .TOP_STEPS_BTN .unwrite::before {
            content: '!';
            font-family: 'Times New Roman', sans-serif;
            font-size: 18px;
        }

        .TOP_STEPS_BTN .unwrite span {
            display: block;
            text-indent: -9999px;
        }

@media screen and (max-width: 479px) {
    .inside_tags {
        margin-bottom: 15px;
    }

    .TOP_STEPS_BTN {
        margin-bottom: 20px;
    }

        .TOP_STEPS_BTN .step {
            width: 33.333%;
            padding: 8px 0;
            margin-bottom: 5px;
            border-radius: 50px;
        }

            .TOP_STEPS_BTN .step::after {
                display: none;
            }

            .TOP_STEPS_BTN .step a {
                border-right: 0;
            }

        .TOP_STEPS_BTN .unwrite {
            top: 8px;
            left: 5px;
            margin-left: 0;
            margin-top: -12px;
        }
}

/* QRcode */
.QRcode_block .img_box .text {
    font-size: 0.875em;
}

/* 評估表單:標題 */
.form_title {
    margin-bottom: 3.5rem;
}

    .form_title span {
        font-size: 1.25em;
    }

/*----------------------------------------------------------------------*/
/* 評估表單:表格 */
.compareChart table th {
    font-size: 1.125em;
}

.compareChart table td {
    padding: 10px 15px;
}

.compareChart table .tt {
    min-width: 130px;
    font-size: 1em;
}

.compareChart table .cont {
    min-width: 260px;
    font-size: 1.063em;
}

.compareChart table .people_box {
    width: 260px;
}

.compareChart table .icon-people::before {
    font-size: 1.5em;
}

.compareChart table .info {
    font-size: 1.063em;
}

/*----------------------------------------------------------------------*/
/* 暫存 */
.save_box > div {
    padding: 3.125rem 15px 25px;
}

.save_box .alert_boxBody {
    padding-right: 0;
}

/*----------------------------------------------------------------------*/
/* 填寫個人資料 */
.personal_box .text {
    font-size: 0.938em;
}

.personal_box .FormElmt .item {
    width: 100%;
    float: none;
    margin-bottom: 15px;
    padding: 0;
}

.personal_box .randomcode .input {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
}

.personal_box .FormElmt {
    margin-bottom: 20px;
}

    .personal_box .FormElmt .item.email::before {
        left: 10px;
    }

    .personal_box .FormElmt .item:nth-child(even) {
        padding-right: 0;
    }

    .personal_box .FormElmt .item:nth-child(odd) {
        padding-left: 0;
    }

    .personal_box .FormElmt .edu::before {
        left: 10px;
        display: none;
    }

.personal_box select {
    padding-left: 10px;
}

/* 響應式時將icon圖示隱藏 */
.personal_box .FormElmt .item::before, .personal_box .FormElmt .randomcode .input::before, .personal_box .FormElmt .item2 .label::before {
    display: none;
}

.personal_box .FormElmt input[type="text"] {
    padding-left: 10px;
}

.personal_box .item2 .label {
    padding-left: 0;
}

.personal_box .FormElmt .another .label {
    padding-left: 10px;
}

.personal_box .item2 > div {
    padding: 10px;
}

.personal_box .item.another {
    padding: 10px;
}

.personal_box .FormElmt .another .label {
    padding-left: 0;
}


/*----------------------------------------------------------------------*/
/* 問答題型 */
/* 題型綜合樣式 */
.question_box .ques_title {
    font-weight: 700;
    font-size: 1.375em;
    padding-left: 3.5rem;
    margin-bottom: 20px;
    padding-top: 5px;
}

    .question_box .ques_title span {
        width: 40px;
        height: 40px;
    }

        .question_box .ques_title span::before {
            font-size: 20px;
            margin-top: -12px;
        }

        .question_box .ques_title span::after {
            border-width: 0 30px 20px 8px;
        }

.question_box .item {
    margin-bottom: 15px;
}

    .question_box .item .title {
        font-size: 1.188em;
        padding-top: 5px;
        padding-left: 10px;
    }

        .question_box .item .title .no {
            width: 35px;
            height: 35px;
            font-size: 18px;
            line-height: 35px;
            position: relative;
            margin-right: 5px;
        }

.question_box .cont_box {
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 1.063em;
}

.question_box .item .cont_box {
    padding-left: 10px;
}

.evaluationForm table th, .evaluationForm table td {
    padding: 8px 10px;
    font-size: 1.063em;
}

.evaluationForm table .choose {
    padding: 15px 0;
}

/* 題型二 */
.evaluationForm.st2 table .choose {
    min-width: 500px;
}

.evaluationForm.st2 table .cont {
    min-width: 220px;
}

.evaluationForm.st2 table th.choose .line-right {
    width: 50%;
}

.evaluationForm.st2 table th.choose .text {
    width: 20%;
}

.evaluationForm.st2 table td.choose .input_group > div {
    width: 15%;
}

/* 題型三 */
.evaluationForm.st3 table th.choose .line-right {
    width: 65%;
}

.evaluationForm.st3 table .cont {
    min-width: 220px;
}


/*----------------------------------------------------------------------*/
/* 瞭解更多資訊及資源 */
.information_wrap .QRcode_block > div {
    max-width: 100%;
}

.information_wrap .QRcode_block .img_box {
    width: 49%;
    display: inline-block;
}

.information_wrap .QRcode_block .cont {
    display: block;
}

/*----------------------------------------------------------------------*/
/* 填寫個人資料 */
.personalBlock > div {
    padding: 20px 15px;
}

/*----------------------------------------------------------------------*/
/* 相關網站 */
.LinkWrap .item .img {
    display: none;
}

.LinkWrap .item .tt {
    padding: 4px 0;
    font-size: 0.938em;
}

/*----------------------------------------------------------------------*/
/* 搜尋結果 */
.SearchResult {
    margin-top: 5px;
}

    .SearchResult .item {
        padding: 15px 10px;
    }

    .SearchResult .title {
        font-size: 1.188em;
    }

    .SearchResult .desc {
        line-height: 170%;
        font-size: 0.938em;
    }

    .SearchResult .cat a {
        font-size: 0.938em;
    }

/*----------------------------------------------------------------------*/
/* 文字列表 */
.ListTable {
    margin-top: 0;
    margin-bottom: 30px;
}

    .ListTable table, .ListTable table tbody, .ListTable table tr, .ListTable table th, .ListTable table td {
        display: block;
    }

        .ListTable table tr:first-child {
            position: absolute;
            left: -10000px;
            top: -10000px;
        }

        .ListTable table tr {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

            .ListTable table tr:nth-child(2) {
                border-top: 1px solid #ddd;
            }

            .ListTable table tr:nth-child(odd) {
                background-color: #fff;
            }

            .ListTable table tr:nth-child(even) {
                background-color: #f5f5f5;
            }

        .ListTable table th, .ListTable table td {
            font-size: 100%;
        }

        .ListTable table td {
            margin: 5px 0;
            text-align: left;
        }

            .ListTable table td.no {
                display: none;
            }

            .ListTable table td::before {
                color: #333;
                font-weight: bold;
                content: attr(data-th)"：";
                display: inline-block;
                margin-bottom: 3px;
            }

            .ListTable table td.no::before, .ListTable table td.date::before, .ListTable table td.title::before, .ListTable table td.type::before, .ListTable table td.thum::before,
            .ListTable td.img::before, .ListTable td.thum::before, .ListTable td.status::before {
                content: "";
            }

            .ListTable table td.cat {
                color: #555;
                font-size: 87.5%;
            }

            .ListTable table td.number {
                display: none;
            }

            .ListTable table td.date {
                background: url("../images/icon_date.png") no-repeat 0 center;
                margin-bottom: 0;
                padding-left: 16px;
                color: #7e7e7e;
                font-size: 87.5%;
            }

                .ListTable table td.date br {
                    display: none;
                }

            .ListTable table td.title {
                font-size: 100%;
            }

            .ListTable table td.download {
                color: #555;
                margin-top: 10px;
            }

                .ListTable table td.download ul {
                    padding-top: 5px;
                }

                    .ListTable table td.download ul li {
                        margin-bottom: 15px;
                    }

        .ListTable table tr td.title-link a {
            font-size: 106.3%;
        }

        .ListTable table td.type {
            background-color: #f3e3e4;
            display: inline-block;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 93.8%;
            color: #555;
        }

        .ListTable table td.status a {
            margin: 5px 0;
        }

/*----------------------------------------------------------------------*/
/* 圖文列表 */
/* 639px~480px時 一律以圖上文下雙欄顯示,479以下時，一律以圖上文下單欄顯示 */
.ListPicText {
    margin-left: -10px;
    margin-right: -10px;
}

    .ListPicText .item {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }

        .ListPicText .item > div {
            padding-bottom: 30px;
        }
    /* 按鈕的高度 */
    .ListPicText .img > div {
        padding-bottom: 55%;
    }

    /* grid-view */
    .ListPicText.grid-view .item {
        padding-left: 5px;
        padding-right: 5px;
    }

    .ListPicText.grid-view .img {
        padding: 15px;
    }

    .ListPicText .img {
        float: none;
    }

    .ListPicText .cont {
        padding: 15px;
    }

    .ListPicText .title {
        font-size: 1.063em;
    }

    .ListPicText .date {
        font-size: 0.8125em;
    }

    .ListPicText .desc {
        font-size: 0.875em;
        margin-bottom: 25px;
    }

    .ListPicText .btn {
        position: absolute;
        width: 100%;
        bottom: 15px;
        right: 10px;
        font-size: 0.875em;
    }

    /* 限制行數 */
    .ListPicText .desc {
        line-height: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 4.5em;
    }

    .ListPicText.list-view.trisection .title a {
        line-height: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 3em;
    }

@media screen and (max-width: 479px) {
    .ListPicText .item {
        width: 100%;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    /* list-view */
    .ListPicText.list-view .cont {
        padding-top: 5px;
    }
    /* grid-view */
    .ListPicText.grid-view .item {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 480px) {
    .ListPicText .item {
        float: left;
        width: 50%;
    }
}


/*----------------------------------------------------------------------*/
/* 延伸閱讀 */
.related_articles .list {
    margin-left: 20px;
}

    .related_articles .list li {
        padding: 8px 0;
        font-size: 1em;
    }

/*----------------------------------------------------------------------*/
/*表格*/
.editable_content table.table_style2 caption {
    display: block;
}

/*----------------------------------------------------------------------*/
/* 搜尋表單 */
.ListSearch {
    padding: 10px 0px;
}

    .ListSearch .item {
        display: block;
        margin-bottom: 5px;
    }

        .ListSearch .item:first-child + .item {
            padding-left: 0;
        }

        .ListSearch .item span.label {
            display: block;
        }

        .ListSearch .item label, .ListSearch .item::before {
            display: none;
        }

    .ListSearch .BtnCommon {
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }

    .ListSearch.FormElmt {
        margin-bottom: 10px;
    }

        .ListSearch.FormElmt input[type="text"] {
            font-size: 93.8%;
        }

        .ListSearch.FormElmt .dev-calendar {
            width: 135px;
        }

        .ListSearch.FormElmt .BtnCommon {
            margin-top: 0;
            margin-bottom: 5px;
            padding-top: 0;
        }

        .ListSearch.FormElmt .item input {
            margin-bottom: 5px;
        }

@media screen and ( max-width: 479px) {
    .ListSearch.FormElmt .item input {
        width: 100%;
        font-size: 100%;
        margin-bottom: 0;
    }
}

/*----------------------------------------------------------------------*/
/* 表單 */
/* 表單群組 */
.FormGroup, .FromSubGroup {
    padding: 25px 20px 10px;
}

    .FormGroup .FormTable, .FromSubGroup .FormTable {
        margin-left: -10px;
        margin-right: -10px;
        width: auto;
    }

    /* 滿意度調查使用的表單樣式 */
    .FormGroup .question_box .item .title {
        font-size: 1.063em;
        padding-left: 2.5rem;
    }

        .FormGroup .question_box .item .title .no {
            position: absolute;
            width: 35px;
            height: 35px;
            line-height: 35px;
        }

    .FormGroup .question_box .item .cont_box {
        padding-left: 10px;
    }

    .FormGroup .form_group_subtitle {
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom-color: #ccc;
        padding: 5px 0;
    }

        .FormGroup .form_group_subtitle span {
            top: auto;
            left: auto;
            display: inline-block;
            color: #555;
            border-left: 5px solid #df7b39;
            padding: 0 0 0 5px;
        }

.FormTable, .FormTable > tbody, .FormTable > tbody > tr,
.FormTable > tbody > tr > th, .FormTable > tbody > tr > td {
    display: block;
}

    .FormTable > tbody > tr > th {
        text-align: left;
    }

    .FormTable > tbody > tr {
        padding: 5px 0;
    }

        .FormTable > tbody > tr:last-child {
            border-bottom: none;
        }

.input_table li {
    width: 50%;
}

table.FormTable, table.FormTable > tbody, table.FormTable > tbody > tr,
table.FormTable > tbody > tr > th, table.FormTable > tbody > tr > td {
    display: block;
}

    table.FormTable > tbody > tr {
        padding: 10px 10px 5px 10px;
        border-bottom: 1px dotted #ccc;
    }

        table.FormTable > tbody > tr:nth-child(even) {
            background-color: #fff;
        }

        table.FormTable > tbody > tr > th, .FormTable > tbody > tr > td {
            border-bottom: 0;
        }

        table.FormTable > tbody > tr > th {
            text-align: left;
        }

/* 表單元件 */
.FormElmt .input_group > div {
    display: inline-block;
}

.FormElmt input[type="text"] {
    width: 100%;
    max-width: 100%;
}

/* 驗證碼 */
.FormElmt .randomcode .img img {
    margin-bottom: 11px;
}

/*----------------------------------------------------------------------*/
/* 登入 */
.LoginBox .colm_right {
    padding-top: 30px;
}

/*----------------------------------------------------------------------*/
/* 按鈕 */
.BtnCommon.btn_form div {
    margin: 5px;
}

.BtnCommon.large div {
    margin-bottom: 10px;
}

.BtnCommon div[class] span::before {
    left: 13px;
}

.BtnCommon.mid a, .BtnCommon.mid input {
    font-size: 14px;
}

.BtnCommon.large a, .BtnCommon.large input {
    padding: 0 20px;
    height: 40px;
}
